/* TRICKS */
:root {
    --clr-text-primary: blanchedalmond;
    --clr-text-secondary: #41362e;
    
    --clr-element-primary: rgb(62, 53, 43);
    --clr-element-secondary: blanchedalmond;
    --clr-element-primary-shade: rgb(70, 52, 44);
    --clr-element-secondary-shade: rgb(160, 149, 132);

    --clr-header-primary: rgb(39, 34, 27);
    --clr-header-secondary: blanchedalmond;
}

::after {
    box-sizing: inherit;
}
/* ELEMENTS */

header {
    text-align: center;
    background-color: var(--clr-header-primary);
    color: var(--clr-header-secondary);
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--clr-header-secondary);
    background-color: var(--clr-header-primary);
    display: inline-block;
    padding-left: 2rem;
    float: right;
}

header nav {
    float: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--clr-element-primary);
    color: var(--clr-text-primary);
}

main {
    margin: 0 2rem;
    padding: 1rem 2rem;
    height: fit-content;
    background-color: var(--clr-element-secondary);
    color: var(--clr-text-secondary);
    box-shadow: 0px 0px 10px 0px var(--clr-element-secondary-shade);
}

.container {
    padding: 0 4rem;
    margin: auto;
    overflow: hidden;
}

#refbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
}

#refbox a {
    height: auto;
    min-height: 10rem;
    text-align: center;
    align-items: center;
    background-color: var(--clr-element-secondary);
    color: var(--clr-text-secondary);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0px 0px 10px 0px var(--clr-element-secondary-shade);
    flex: 1 1 auto;
    max-width: 100%;
}


table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
}

td {
    padding: 0.1rem 0.3rem;
    text-align: center;
    word-wrap: break-word;
}

th {
    padding: 0.1rem 0.3rem;
    text-align: center;
    word-wrap: break-word;
}

hr {
    border: 1;
    height: .1rem;
    background: var(--clr-text-secondary);
    margin: 1rem 0;
    width: 30rem;
    max-width: 100%;

}

#half {
    width: 15rem;
    height: .05rem;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--clr-element-primary);
    color: var(--clr-element-secondary);
    border: none;
    border-radius: 5px;
}

.playing {
    background-color: green;
    color: var(--clr-element-secondary);
}