/* TRICKS */
:root {
    --clr-text-primary: blanchedalmond;
    --clr-text-secondary: #41362e;
    
    --clr-element-primary: rgb(62, 53, 43);
    --clr-element-secondary: blanchedalmond;
    --clr-element-primary-shade: rgb(70, 52, 44);
    --clr-element-secondary-shade: rgb(160, 149, 132);

    --clr-header-primary: rgb(39, 34, 27);
    --clr-header-secondary: blanchedalmond;
}

::after {
    box-sizing: inherit;
}
/* ELEMENTS */

header {
    text-align: center;
    padding-top: 30px;
    min-height: 70px;
    background-color: var(--clr-header-primary);
    color: var(--clr-header-secondary);
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: var(--clr-header-secondary);
    background-color: var(--clr-header-primary);
}
header ul {
    padding: 0;
    list-style: none;
    background-color: var(--clr-header-primary);
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    background-color: var(--clr-header-primary);
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--clr-element-primary);
    color: var(--clr-text-primary);
}

main {
    margin: 0 2rem;
    padding: 1rem 2rem;
    height: fit-content;
    background-color: var(--clr-element-secondary);
    color: var(--clr-text-secondary);
}

li {
    background: var(--clr-element-primary);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}
.container {
    padding: 0 4rem;
    margin: auto;
    overflow: hidden;
}

#refbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

#refbox a {
    height: auto;
    min-height: 10rem;
    text-align: center;
    align-items: center;
    background-color: var(--clr-element-secondary);
    color: var(--clr-text-secondary);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0px 0px 10px 0px var(--clr-element-secondary-shade);
}

