/* HOMEPAGE CLASSES */

/* Homepage Segment Class */

.hseg {
    color: #000000;
    background: rgba(206, 204, 204, 0.884);
    width: 18rem;
    height: auto;

    text-align: center;

    padding: 1rem;
    margin: 5rem auto;
    border-radius: 1rem;
}

/* Homepage Socials Bar */

.socials{
    color: #cacaca;
    background: rgba(43, 42, 42, 0.842);
    width: 35vw;
    min-width: 15rem;
    height: auto;

    text-align: center;

    padding: .7rem 1rem;
    margin: 3% auto;
    border-radius: 1.5rem;
}

.socials a {
    display: inline-block;
    padding: 1vw;
    margin-top: .5rem;
}

.socials a:hover {
    background: rgba(75, 76, 75, 0.685);
    border-radius: 1.5rem;
}

.socials img {
    min-width: 3rem;
    min-height: 3rem;
    height: 5vw;
    width: 5vw;
}