/* PROJECTS-PAGE CLASSES */

main {
    margin: 0% auto;
}

/* Projects Intro Section */

.project-intro {
    font-size: .8rem;
    padding: .7rem 1%;
    color: var(--clr-text-secondary);
    background-color: var(--clr-element-dark);

    text-align: left;
}

/* Catformer Projects Section */

.catformer {
    height: 30rem;
    width: auto;
    max-width: 100%;

    margin: auto;

    display: flex;
    background-image: url('../src/catformer.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: left;
}

.catformer section{
    width: 20rem;
    height: auto;

    margin: auto 10%;
    padding: 1rem;
    border-radius: .5rem;
    
    background-color: var(--clr-element-section);
}

.catformer section h3{
    font-size: 1.5rem;
    margin-bottom: .3rem;
}

.catformer section h4{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: rgb(53, 53, 53);
}

.catformer section p{
    margin-bottom: .5rem;
}

.catformer section a{
    text-decoration: none;
}