/* Elements */

body {
    margin: 0rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkslategrey;
}

main {
    
}

footer {
    height: 30rem;
    width: auto;
    background-color: rgb(37, 37, 37);
}

html {
    box-sizing: border-box;
}

/* IDs */

#nospace {
    margin-top: 0%;
    margin-bottom: 0%;
}

#longboi {
    height: 100rem;
}

/* CLASSES */

/* Top Navigation Bar */

.topnav {
    margin: 0px;
    overflow: hidden;
    background-color: rgb(66, 66, 66);
}

.topnav a {
    float: left;
    color: #cacaca;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(14, 87, 0);
    color: #cacaca;
}

.topnav a.active {
    background-color: #009b05;
    color: #cacaca;
}

/* Banner Class */

.banner {
    object-fit: cover;
    object-position: center 20%;
    width: 100%;
    height: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
}